.patchnotes.my-container {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.patchnotes h1 {
  font-size: 150%;
  text-shadow: 2px 2px 2px #00000040;
}

.patchnotes .modal-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
}

.patchnotes .modal-body h2 {
  font-size: 120%;
  border-bottom: 2px solid #80808080;
}

.patchnotes .modal-body blockquote {
  float: right;
  color: gray;
  margin: 0;
}

.patchnotes .modal-body hr {
  height: 2px;
  background-color: white;
  margin: 1em 0;
}

.patchnotes-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
}

.patchnotes-grid > li {
  list-style: none;
  padding: 0;
}

.patchnotes-detail-view {
  display: flex;
}

.detail-content {
  display: flex;
  gap: 0.5em;
  height: 100%;
  align-items: stretch;
}

.detail-poster {
  flex: 1;
}

.detail-notes {
  flex: 2;
  overflow-y: auto;
  background: var(--color-bg-secondary);
  border: var(--border-thick);
  border-radius: 12px;
  padding: 0.5em 0.5em 0.5em 1em;
}
