.poster {
  position: relative;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: var(--cursor-hover);
  width: 350px;
  aspect-ratio: 350 / 500;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster:hover {
  transform: scale(1.05);
}

.detail-poster .poster {
  width: 100%;
}

.poster-detailed:hover {
  transform: none;
}
