.lobby {
  height: 100%;
  gap: 1vw;
  display: flex;
}

.lobby-container {
  padding: 10px;
}

.lobby nav {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  grid-area: nav;
  flex-wrap: wrap;
}

.lobby nav a:hover {
  text-decoration: none;
}

.lobby nav .bubbly {
  position: relative;
  padding: 0.25em 0.5em;
}

.lobby .user-menu {
  grid-area: user;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lobby .user-menu .react-tabs,
.lobby .user-menu .react-tabs__tab-panel--selected {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.lobby .user-menu .react-tabs__tab-panel--selected {
  overflow-y: auto;
}

.lobby .room-menu {
  width: 480px;
  height: 100%;
}

.lobby .current-users-menu {
  min-width: 333px;
  height: 100%;
}

.lobby .user-chat {
  overflow-y: auto;
  height: 100%;
}

.lobby .news {
  height: 100%;
}

.lobby h1 {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  margin: 0.25em 0;
}

.lobby h2 {
  font-size: 1.25vw;
}

@media (max-width: 640px) {
  .lobby {
    overflow-y: auto;
    display: block;
  }

  .lobby nav {
    flex-wrap: wrap;
  }

  .lobby h1 {
    font-size: 4vw;
  }

  .lobby > .nes-container {
    margin-top: 1em;
    max-height: 80vh;
  }
}



.main-lobby {
  display: flex;
  gap: 4px;
  overflow: scroll;
  justify-content: space-between;
  height: 100%;
}

.main-lobby > div {
  min-width: 405px;
}

.main-lobby .news-chat {
  display: flex;
  gap: 4px;
}

@media (max-width: 1400px) {
  .main-lobby .news-chat {
    flex-direction: column;
  }
}

.menu-item {
  width: 100%;
}

.menu-item a {
  width: 100%;
  cursor: var(--cursor-hover) !important;
}

.menu-item a span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ps-menu-root ul {
  width: 100%;
}

.lobby-container {
  padding: 20px;
}

.icon {
  position: relative;
}

.notification {
  position: absolute;
  top: 0;
  right: -12px;
  height: 6px;
  font-size: 6px;
}
