.lobby {
  --sidebar-offset: 90px;

  height: 100%;
  gap: 1vw;
  display: flex;
}

.lobby-container {
  padding: 10px;
  padding-left: calc(var(--sidebar-offset));
  width: 100%;
}

.lobby nav {
  height: 100%;
}

.lobby nav a:hover {
  text-decoration: none;
}

.lobby nav .bubbly {
  position: relative;
  padding: 0.25em 0.5em;
}

.lobby .user-menu {
  grid-area: user;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.lobby .user-menu .react-tabs,
.lobby .user-menu .react-tabs__tab-panel--selected {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.lobby .user-menu .react-tabs__tab-panel--selected {
  overflow-y: auto;
}

.lobby .room-menu {
  height: 100%;
  width: 25%;
}

.main-lobby ul.react-tabs__tab-list {
  display: flex;
  font-size: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.lobby .current-users-menu {
  width: 100%;
  height: 100%;
}

.lobby .current-users-menu ul {
  display: unset;
}

.lobby .user-chat {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.lobby .news {
  height: 100%;
}

.lobby h1 {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  margin: 0.25em 0;
}

.lobby h2 {
  font-size: 1.25vw;
}

.lobby-container .bot-panel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.bot-panel .header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

.main-lobby {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.main-lobby .news-chat {
  display: flex;
  gap: 4px;
  width: 50%;
}

@media (max-width: 1400px) {
  .main-lobby .news-chat {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .lobby nav {
    flex-wrap: wrap;
  }

  .lobby h1 {
    font-size: 4vw;
  }

  .lobby > .nes-container {
    margin-top: 1em;
    max-height: 80vh;
  }

  .lobby-container {
    padding: 0;
  }

  .main-lobby {
    flex-direction: column;
    overflow-y: scroll;
  }

  .main-lobby.main-lobby > div {
    width: 100%;
    min-height: 300px;
  }
}
