.preparation-page {
  display: flex;
  height: 100%;
}

.preparation-page main {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
  align-items: center;
}

.preparation-page .preparation-menu,
.preparation-page .user-chat {
  height: calc(100vh - 8vw);
}

.preparation-page .preparation-menu {
  flex: 0 1 50em;
}

.preparation-page .user-chat {
  flex: 0 1 30em;
}

.preparation-page footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}

#preloading-message {
  color: white;
  background-color: #00000080;
  display: inline-block;
  padding: 0 0.5em;
}

@media (max-width: 640px) {
  .preparation-page main {
    display: block;
  }

  .preparation-page .preparation-menu,
  .preparation-page .user-chat {
    min-height: initial;
    height: calc(50vh - 4em);
    overflow: auto;
    margin-bottom: 1em;
  }
}
