.sprite-viewer-root {
  width: 100%;
  height: 100%;
}

.sprite-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  padding: 40px;
  padding-left: calc(var(--sidebar-width) + 10px);
}

.sprite-viewer-toolbar {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 8px;
}

.sprite-viewer-toolbar > div {
  border-radius: 4px;
  color: white;
  border: 2px solid black;
  padding: 4px 12px;
}

.sprite-viewer-toolbar label {
  display: block;
}

.sprite-viewer-toolbar label::after {
  content: ":";
}

.sprite-viewer-sprite {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sprite-viewer-sprite canvas {
  border: 2px solid black;
  border-radius: 4px;
}
