node_modules/
.vscode/
*.env
app/public/dist/server/**/*.js
app/public/dist/server/**/*.js.map
app/public/dist/**/*.d.ts
app/public/dist/client/index.js
app/public/dist/client/index.js.map
app/public/dist/client/index.css
app/public/dist/client/index.css.map
app/public/dist/index.js
*.code-workspace
/app/public/dist/assets/tiles/newBackground.tmx
/app/public/dist/assets/tiles/sleepBackground.json
/app/public/dist/assets/tiles/sleepBackground.png
/app/public/dist/assets/tiles/sleepBackgroundMirror.png
/app/public/dist/index.js.LICENSE.txt
/db-commands/old-statistic.js
/db-commands/*.sh
/tests/render/*.png
/tests/samples/*.json
/.tgitconfig
edit/split/*
edit/sheets/*
edit/dist/*
edit/credits.json
edit/durations.json
/app/public/dist/server/app/models/precomputed/type-pokemons.json
/app/public/dist/server/models/precomputed/type-pokemons.json
tests/samples/*
lib