node_modules/
.vscode/
.idea
*.env
.env.development
.env.production
app/public/dist/server/**/*.js
app/public/dist/server/**/*.js.map
app/public/dist/**/*.d.ts
app/public/dist/client/index.html
app/public/dist/client/index*.js
app/public/dist/client/index*.js.map
app/public/dist/client/index*.css
app/public/dist/client/index*.css.map
app/public/dist/client/assets
app/public/src/assets/musics
*.code-workspace
/app/public/dist/index.js.LICENSE.txt
/db-commands/old-statistic.js
/db-commands/*.sh
/tests/render/*.png
/tests/samples/*.json
/.tgitconfig
edit/split/*
edit/sheets/*
edit/dist/*
edit/credits.json
edit/durations.json
/app/public/dist/server/app/models/precomputed/*.json
tests/samples/*
lib
/logs/*.log
export/dbg_output_pmdo_full_ani
export/*.json
export/tilesets
export/samples
id_digital_ocean
id_digital_ocean.pub
/app/public/dist/server/app/public/dist/client/assets/pokemons/durations.json
/app/public/dist/server/app/public/dist/client/assets/pokemons/indexList.json
/app/public/dist/server/app/public/src/assets/atlas.json
/app/public/dist/server/app/public/src/assets/pokemons/indexList.json
/app/public/dist/server/package.json
/app/public/dist/server/app/public/src/assets/pokemons/durations.json
