node_modules/
db-commands/
.vscode/
*.env
app/public/dist/**/*.js
*.code-workspace
/app/public/dist/assets/tiles/newBackground.tmx
/app/public/dist/assets/tiles/sleepBackground.json
/app/public/dist/assets/tiles/sleepBackground.png
/app/public/dist/assets/tiles/sleepBackgroundMirror.png
/app/public/dist/index.js.LICENSE.txt
