.synergies-container .draggable-window-content {
  display: flex;
  flex-flow: column;
  color: #fff;
  background-color: var(--color-bg-primary);
  font-size: 1em;
  overflow-y: auto;
  padding: 0;
}

#game-wrapper .synergies-container {
  position: absolute;
  left: 0.5%;
  top: 9%;
  padding: 0;
  max-height: 70%;
  background-color: var(--color-bg-primary);
}

@media (aspect-ratio < 4 / 3) {
  #game-wrapper .synergies-container {
    max-height: 70%;
  }
}

@media (width <= 1280px) {
  #game-wrapper .synergies-container {
    transform: scale(0.8);
    transform-origin: top left;
  }
}
