.synergies-container {
  display: flex;
  flex-flow: column;
  color: #fff;
  background-color: #61738a;
  font-size: 1em;
  overflow: "visible";
}

#game-wrapper .synergies-container {
  position: absolute;
  left: 0.5%;
  top: 9%;
  max-height: 73%;
  padding: 0;
}

.synergies-header {
  padding: 10px;
  text-align: center;
  font-size: 1.3vw;
}
