.synergies-container {
  display: flex;
  flex-flow: column;
  color: #fff;
  background-color: var(--color-bg-primary);
  font-size: 1em;
  overflow-y: auto;
}

#game-wrapper .synergies-container {
  position: absolute;
  left: 0.5%;
  top: 9%;
  max-height: 73%;
  padding: 0;
  background-color: var(--color-bg-primary);
}

.synergies-header {
  padding: 0.5em;
  text-align: center;
  font-size: 1.2rem;
}
