.game-options-modal {
  width: min(95vw, 600px);
}

.game-options-modal .modal-body {
  line-height: 1.5;
}

.game-options-modal .modal-body p {
  margin-bottom: 0.5em;
}

.game-options-modal .modal-body p.info {
  font-style: italic;
  font-size: 80%;
  line-height: 1.1;
  margin: 0.5em 0;
  color: var(--color-fg-secondary);
}

.game-options-modal fieldset {
  background-color: var(--color-bg-secondary);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
}

.game-options-modal .react-tabs__tab-panel--selected {
  padding: 0.5em 0;
}
