aside.sidebar {
  position: absolute;
  height: 100%;
  z-index: 999;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
}

.sidebar-logo img {
  width: 54px;
  margin: 8px 0px 8px 12px;
}

.sidebar .sidebar-logo > div {
  overflow: hidden;
}

.sidebar .sidebar-logo h1 {
  color: inherit;
  font-size: 1.2rem;
  white-space: nowrap;
  margin-bottom: 0;
}

.sidebar .sidebar-logo small {
  display: block;
  font-size: 1rem;
  opacity: 0.75;
}

.sidebar.ps-collapsed .sidebar-logo div {
  color: transparent;
}

.menu-item {
  width: 100%;
}

.menu-item a {
  width: 100%;
  cursor: var(--cursor-hover) !important;
}

.menu-item a span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ps-menu-root {
  height: 100%;
}

.ps-menu-root ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ps-menu-root .spacer {
  flex: 1;
}

.ps-menu-label {
  color: white;
}

.ps-menu-button .icon {
  position: relative;
  display: flex;
}

.ps-menu-button .notification {
  position: absolute;
  top: 0;
  right: -5px;
  height: 6px;
  font-size: 6px;
}

.menu-item {
  color: #333;
}

.menu-item.default,
.menu-item.default a:hover {
  background: #54596b;
  box-shadow: inset 0 -3px #393d49;
}

.menu-item.default a:hover {
  background: #474c5c;
}

.menu-item.blue,
.menu-item.blue a:hover {
  background: #109fff;
  box-shadow: inset 0 -3px #006bb3;
}

.menu-item.blue a:hover {
  background: #1195ec;
}

.menu-item.green,
.menu-item.green a:hover {
  background: #92cc41;
  box-shadow: inset 0 -3px #65a013;
}

.menu-item.green a:hover {
  background: #76c442;
}

.menu-item.red,
.menu-item.red a:hover {
  background: #af412b;
  box-shadow: inset 0 -3px #570f10;
}

.menu-item.red a:hover {
  background: #852d1c;
}

.menu-item.discord,
.menu-item.discord a:hover {
  background: #5865f2;
  box-shadow: inset 0 -3px #2e3581;
}

.menu-item.discord a:hover {
  background: #444ebe;
}

.menu-item.tipeee,
.menu-item.tipeee a:hover {
  background: #d64758;
  box-shadow: inset 0 -3px #70252d;
}

.menu-item.tipeee a:hover {
  background: #b13c49;
}

.ps-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 12px 0 0;
}

#root .ps-sidebar-root {
  border-right: 4px solid black;
  border-radius: 0 12px 12px 0;
  overflow: auto;
}

.additional-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
  font-size: 0.5em;
  align-items: center;
  text-align: center;
}

.lobby .additional-links a {
  color: #eee;
  animation: appear-after-opening 500ms;
}

.lobby .additional-links a:hover {
  color: #fff;
  text-decoration: underline;
}

.additional-links button {
  width: 100%;
}

@keyframes appear-after-opening {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
