.game-history-list {
  gap: 0.5em;
}

.game-history-list h2 {
  margin: 0.5em 0;
}

.game-history.nes-container {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: 4ch 8ch 1fr;
  background-color: #54596b;
  margin: 0.25em 0;
  padding: 0.25em;
}

.game-history .player-team-pokemons {
  padding-left: 0;
  padding-bottom: 10px;
}