.game-history {
  padding: 0 0 20px 0;
  overflow-x: auto;
}

.game-history p:first-child {
  font-size: 140%;
}

.game-history tr {
  border-bottom: 4px solid white;
}

.game-history th {
  text-align: center;
}

.game-history td {
  padding: 0 0.25em;
}

