.user-menu {
    background: url("assets/ui/back2.png");
    flex-basis: 30%;
    height: 90vh;
    overflow-y: scroll;
    background-size: cover;
    color: white;
}

.player-rank {
    line-height: 40px;
    min-width: 2ch;
    text-align: center;
}