:root {
  --color-bg-primary: #61738a;
  --color-bg-secondary: #54596b;
  --color-bg-accent: #1195ec;
  --color-bg-green: #34a00c;
  --color-bg-red: #742424;
  --color-fg-primary: #ffffff;
  --color-fg-secondary: #c3cddf;
  --color-fg-green: #8ede1d;
  --color-fg-red: #e81212;
  --color-fg-gold: #ffc107;
  --color-shadow: #2d334b;

  --color-physical: #e76e55;
  --color-special: #5f9ff9;
  --color-true: #f7d51d;
  --color-shield: #8d8d8d;
}
