@font-face {
  font-family: BrandonGrotesqueBlack;
  src: url("assets/ui/BrandonGrotesque-Black.woff2") format("opentype");
}

@font-face {
  font-family: BrandonGrotesqueBold;
  src: url("assets/ui/BrandonGrotesque-Bold.woff2") format("opentype");
}

body {
  font-family: BrandonGrotesqueBlack;
  font-size: 18px;
}

p {
  font-family: BrandonGrotesqueBold;
}