@font-face {
  font-family: BrandonGrotesqueBlack;
  src: url("assets/ui/BrandonGrotesque-Black.woff2") format("opentype");
}

@font-face {
  font-family: BrandonGrotesqueBold;
  src: url("assets/ui/BrandonGrotesque-Bold.woff2") format("opentype");
}

html {
  --font-bold: BrandonGrotesqueBold;
  --font-black: BrandonGrotesqueBlack;
}

html[lang="vi"]{
  --font-bold: system-ui;
  --font-black: system-ui;
}

body {
  font-family: var(--font-black);
  font-size: 18px;
}

p {
  font-family: var(--font-bold);
}