#boosters-page {
  height: 100%;
  width: 1800px;
  padding: 1vw;
}

#boosters-page > .nes-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

#boosters-page p.help {
  font-size: 200%;
  text-shadow: 2px 2px 0 black;
}

#boosters-page .actions {
  text-align: center;
  position: relative;
  bottom: 5%;
}

#boosters-page .actions button {
  margin: auto;
}

#boosters-page .actions p {
  font-size: 200%;
  color: white;
}

#boosters-page .actions img {
  height: 128px;
  width: 128px;
}

.boosters-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
