#pokemon-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#pokemon-collection .pokemon-collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  overflow-y: scroll;
  max-height: calc(90vh - 200px);
}

#pokemon-collection header {
  display: flex;
  align-content: center;
  gap: 1vw;
  padding: 5px 1em;
}

#pokemon-collection header label {
  margin-bottom: 0;
}

#pokemon-collection .unown-icon {
  width: 36px;
  height: 36px;
  margin: 2px;
}

.pokemon-collection-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 0;
  margin: 0;
  flex-wrap: wrap;
}

.pokemon-collection-tabs li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  min-width: 50px;
  padding: 5px;
}

#pokemon-collection .bubbly {
  height: 50px;
  font-size: 22px;
}
