#pokemon-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#pokemon-collection > .nes-container {
  max-height: calc(100vh - 16vw);
  overflow-y: auto;
  align-items: center;
}

#pokemon-collection .pokemon-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
}

#pokemon-collection header {
  display: flex;
  align-content: center;
  gap: 1vw;
}

#pokemon-collection header label {
  margin-bottom: 0;
}

#pokemon-collection header .nes-checkbox + span::before {
  top: calc(0.65em - 8px);
}

#pokemon-collection .unown-icon {
  margin: -28px;
}
