.pokemon-collection-item.my-box {
  cursor: var(--cursor-hover);
  padding: 0;
  background-color: var(--color-bg-secondary);
}

.pokemon-collection-item > img {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
  border-radius: 8px 8px 0 0;
  border: none;
}

.pokemon-collection-item:not(.unlocked, .unlockable) {
  filter: grayscale(1) contrast(0.5);
}

.pokemon-collection-item.unlocked {
  filter: grayscale(0) contrast(1);
}
.pokemon-collection-item.unlockable:not(.unlocked) {
  filter: grayscale(1) contrast(1);
}

.pokemon-collection-item.new::before {
  content: "NEW";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: 8px;
  font-size: 0.5em;
  z-index: 1;
}

.pokemon-collection-item.favorite::after {
  content: "❤️";
  position: absolute;
  top: 56px;
  left: 2px;
  color: red;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
}

.pokemon-collection-item > p {
  text-align: center;
  border-radius: 0 0 8px 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.pokemon-collection-item p > * {
  vertical-align: middle;
}

.pokemon-collection-item .dust > img {
  width: 20px;
  height: 20px;
  image-rendering: pixelated;
  margin: 2px 2px 2px calc(2px + 0.25em);
  border-radius: 50%;
  border: 1px solid black;
}
