#pokemon-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#pokemon-collection > .nes-container {
  align-items: center;
}

#pokemon-collection .pokemon-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  overflow-y: scroll;
  max-height: 65vh;
}

#pokemon-collection header {
  display: flex;
  align-content: center;
  gap: 1vw;
}

#pokemon-collection header label {
  margin-bottom: 0;
}

#pokemon-collection header .nes-checkbox + span::before {
  top: calc(0.65em - 8px);
}

#pokemon-collection .unown-icon {
  margin: -28px;
}

.pokemon-collection-tabs {
  display: flex;
  align-items: center;
  max-width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 0;
}

.pokemon-collection-tabs li {
  display: flex;
  align-items: center;
  height: 55px;
}
