@font-face {
  font-family: brandonGrotesque;
  src: url("assets/ui/brandon-grotesque-black.otf") format("opentype");
}

:root {
  --cursor-hover: url("assets/ui/cursor-hover.png") 14 0, pointer;
  --cursor-grab: url("assets/ui/cursor-grab.png") 14 8, grab;
  --cursor-grabbing: url("assets/ui/cursor-grabbing.png") 14 8, grabbing;

  --sidebar-width: 60px;
}

body.grab {
  cursor: var(--cursor-grab);
}

body.grab.grabbing {
  cursor: var(--cursor-grabbing);
}

/* scrollbar */
* {
  scrollbar-width: auto;
  scrollbar-color: #4f5160 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f5160;
  border-radius: 4px;
  border: 1px solid #000000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("assets/ui/chessboardpattern.svg");
  background-size: 240px;
  background-repeat: repeat;
  background-position: top right;
  background-color: #68829e;
  font-family: brandonGrotesque !important;
  font-size: 1vw;
}

a {
  /* better contrast on dark background for accessibility */
  color: #7bbbff;
}

#root {
  width: 100vw;
  height: 100vh;
}

.invisibleButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.custom-theme-tooltip {
  padding: 5px !important;
  opacity: 1 !important;
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 4px !important;
  border-radius: 12px !important;
  background-color: #61738a !important;
  color: #fff !important;
  z-index: 1060; /* 1050 comes from react-modal library */
}

.custom-bg {
  background-image: url("assets/ui/back1.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
}

input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 0px;
  border: 4px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover);
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 0px;
  border: 4px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover), pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

select {
  cursor: var(--cursor-hover);
}

p:last-child {
  margin-bottom: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollable {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#game {
  height: 100vh;
  width: calc(100vw - var(--sidebar-width));
}

#game-wrapper {
  position: relative;
  left: 60px;
  width: calc(100vw - var(--sidebar-width));
}

#game-wrapper .ps-sidebar-root {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--sidebar-width));
  bottom: 0;
}

.multi-range {
  box-shadow: none !important;
  border: none !important;
}

.multi-range .thumb * {
  display: inherit !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 0px !important;
  background-color: white !important;
  width: 60px !important;
  box-shadow: none !important;
}

.Toastify__toast-container {
  width: auto !important;
  --toastify-z-index: 1040;
  pointer-events: none; /* allow to click through to select a player */
}

.Toastify__toast {
  border-radius: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 4px solid black;
  background-color: #61738a !important;
}

.game-emote-bubble {
  position: relative;
  background: white;
  border-radius: 0.4em;
  padding: 4px;
  animation: 3000ms forwards speech-bubble;
}

@keyframes speech-bubble {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game-emote-bubble img {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
}

.game-emote-bubble:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.game-emote-bubble.current::after {
  bottom: 0;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -19px;
}

.game-emote-bubble.opponent:after {
  top: 0;
  border-bottom-color: white;
  border-top: 0;
  border-right: 0;
  margin-right: -10px;
  margin-top: -19px;
}

.toast-new-pokemon {
  right: 76px !important;
}

.toast-new-pokemon img {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
}

.toast-emote {
  right: 85px !important;
  border: none !important;
  background-color: transparent !important;
}

.toast-emote img {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
}

.bubbly {
  display: block;
  text-align: center;
  padding: 0.25em 1em;
  border-radius: 12px;
  font-size: 140%;
  border: solid;
  border-color: black;
  border-width: 4px;
  text-shadow: 2px 2px 2px #00000040;
}

.bubbly:not([disabled]):hover {
  background: #e7e7e7;
}

.bubbly:not([disabled]):active {
  background: #cfcfcf;
  box-shadow: inset 6px 6px 0px 0px #e7e7e7;
}

.bubbly.green {
  box-shadow: inset -6px -6px 0px 0px #65a013;
  background: #92cc41;
  color: white;
}

.bubbly.green:not([disabled]):hover {
  background: #76c442;
}

.bubbly.green:not([disabled]):active {
  background: #92cc41;
  box-shadow: inset 6px 6px 0px 0px #65a013;
}

.bubbly.orange {
  background: #f7d51d;
  box-shadow: inset -6px -6px 0px 0px #c9ae17;
  color: black;
}

.bubbly.orange:not([disabled]):hover {
  background: #e7c819;
}

.bubbly.orange:not([disabled]):active {
  background: #f7d51d;
  box-shadow: inset 6px 6px 0px 0px #c9ae17;
}

.bubbly.red {
  background: #e76e55;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
  color: white;
}

.bubbly.red:not([disabled]):hover {
  background: #c25c48;
}

.bubbly.red:not([disabled]):active {
  background: #761c1e;
  box-shadow: inset 6px 6px 0px 0px #8c2022;
}

.bubbly.blue {
  background: #109fff;
  box-shadow: inset -6px -6px 0px 0px #006bb3;
  color: white;
}

.bubbly.blue:not([disabled]):hover {
  background: #1195ec;
}

.bubbly.blue:not([disabled]):active {
  background: #109fff;
  box-shadow: inset 6px 6px 0px 0px #108de0;
}

.bubbly.pink {
  background: #ee2097;
  color: white;
  box-shadow: inset -6px -6px 0px 0px #902c74;
}

.bubbly.pink:not([disabled]):hover {
  background: #eb55ac;
}

.bubbly.pink:not([disabled]):active {
  background: #ee2097;
  box-shadow: inset 6px 6px 0px 0px #902c74;
}

.bubbly.discord {
  background: #444ebe;
  color: white;
  box-shadow: inset -6px -6px 0px 0px #2d347e;
}
.bubbly.discord:not([disabled]):hover {
  background: #4a54bf;
}

.bubbly.discord:not([disabled]):active {
  background: #444ebe;
  box-shadow: inset 6px 6px 0px 0px #2d347e;
}

.bubbly[disabled] {
  background: #d3d3d3;
  box-shadow: inset -6px -6px 0px 0px #adafbc;
  color: #757575;
  opacity: 0.6;
  cursor: not-allowed;
}

.bubbly > img:first-child {
  height: 1.4em;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.25em;
}

.firebaseui-idp-button {
  border: solid !important;
  padding: 5px 30px !important;
  border-radius: 12px !important;
  border-color: black !important;
  border-width: 4px !important;
  font-family: brandonGrotesque !important;
  max-width: 360px !important;
  cursor: var(--cursor-hover) !important;
}

.firebaseui-idp-text {
  font-size: 150% !important;
}

.firebaseui-container {
  margin-left: 0px !important;
}

.firebaseui-card-content {
  padding: 0px !important;
}

.firebaseui-idp-google {
  box-shadow: inset -6px -6px 0px 0px #adafbc !important;
}

.firebaseui-idp-password {
  box-shadow: inset -6px -6px 0px 0px #a33329 !important;
}

.firebaseui-idp-facebook {
  box-shadow: inset -6px -6px 0px 0px #293e6b !important;
}

.firebaseui-idp-twitter {
  box-shadow: inset -6px -6px 0px 0px #4181b3 !important;
}

.nes-container {
  border-radius: 12px;
  background-color: #61738a;
  padding: 5px;
}

.modal-dialog.is-large {
  max-width: 80vw;
}

.modal-dialog.is-dark .modal-content {
  background-color: #61738a;
  border: 4px solid black;
  color: white;
}

.modal-dialog.is-dark :is(.modal-header, .modal-footer) {
  border-color: black;
  border-width: 4px;
  background-color: #4f5160;
}

.player-box {
  background: #54596b;
  border-radius: 12px;
  border: solid;
  border-color: black;
  padding: 5px;
  color: white;
  box-shadow: #2d334b 4px 4px 0px;
}

.player-box .player-name {
  font-size: 1.5rem;
  line-height: 1;
}

.player-box p {
  margin: 0;
}

.player-title {
  color: #ffc107;
}

.my-input {
  border-radius: 12px;
  width: 100%;
  border: 4px solid black;
  min-height: 3em;
  padding-left: 1em;
}

.my-tab {
  cursor: var(--cursor-hover);
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  color: white;
  font-size: 140%;
}

.my-select {
  border-radius: 12px;
  border: 4px solid black;
  font-size: 140%;
  padding: 8px 36px 8px 16px;
}

.nes-progress {
  border-image-slice: none !important;
  border-image-width: none !important;
  border-image-repeat: none !important;
  border-image-source: none !important;
  border-image-outset: none !important;
  border-radius: 12px;
  border: 4px solid black;
  margin: 0px !important;
  background-color: #61738a !important;
  color: "#fff" !important;
  appearance: none !important;
  -webkit-appearance: none !important;
}

.nes-progress::-webkit-progress-bar {
  background-color: #61738a !important;
}

.anonymous {
  min-height: 40px;
  background-color: #18f299;
  box-shadow: inset -6px -6px 0px 0px #0e9b61 !important;
}

.clickable {
  cursor: var(--cursor-hover) !important;
}

.badge {
  font-weight: normal;
}

/* react-tabs */

.react-tabs__tab {
  cursor: var(--cursor-hover);
  background-color: #40404080;
  margin: 0 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  color: white;
  text-shadow: 2px 2px 2px #00000040;
  font-size: 140%;
}

.react-tabs__tab--selected {
  background-color: rgb(84, 89, 107);
}

/* react-tooltip */

#root .__react_component_tooltip {
  font-size: 1vw;
}

.__react_component_tooltip output {
  color: white;
}

.__react_component_tooltip .help {
  font-size: 80%;
  font-style: italic;
  color: #d0d0d0;
}

.spacer {
  flex-grow: 1;
}

/*========================
     MEDIA QUERIES
======================== */

@media (max-width: 1024px) {
  body {
    font-size: 1.5vw;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 2vw;
  }

  #root .nes-container,
  .player-box,
  .my-input,
  .bubbly {
    border-width: 2px;
  }

  .bubbly {
    padding: 0.5em 1em;
  }
}

/*========================
     ANIMS
======================== */
@keyframes shimmer {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.shimmer::after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: shimmer 2s infinite;
  background: linear-gradient(
    135deg,
    transparent 0%,
    #ffffff20 25%,
    #ffffe080 50%,
    #ffffff20 75%,
    transparent 100%
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  cursor: var(--cursor-hover);
}

.pokemon-portrait {
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: 2px 2px 0 #00000060;
  image-rendering: pixelated;
  position: relative;
}

.pokemon-portrait.additional::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0px;
  height: 12px;
  width: 12px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABISURBVChTjZABCgAgCAO1///ZWqlpRXggQptNZMqIduBa0+6IRN/iMr2ACaNWEX9H7kg49Q0zz+WSAwMQfuBXi3FKixfuRNQBW78Y/CRSBzwAAAAASUVORK5CYII=);
  background-size: cover;
  image-rendering: pixelated;
  filter: invert(1);
}
