@font-face {
  font-family: brandonGrotesque;
  src: url("assets/ui/brandon-grotesque-black.otf") format("opentype");
}

:root {
  --cursor-hover: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;  
}

/* scrollbar */
* {
  scrollbar-width: auto;
  scrollbar-color: #4f5160 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f5160;
  border-radius: 4px;
  border: 1px solid #000000;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("assets/ui/chessboardpattern.svg");
  background-size: 240px;
  background-repeat: repeat;
  background-position: top right;
  background-color: #68829e;
  font-family: brandonGrotesque !important;
  font-size: 1vw;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
}

.invisibleButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.customeTheme {
  opacity: 1 !important;
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 4px !important;
  border-radius: 12px !important;
  background-color: #61738a !important;
  color: #fff !important;
}

input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 0px;
  border: 4px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover);
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 0px;
  border: 4px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: var(--cursor-hover);
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: var(--cursor-hover),
    pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

select {
  cursor: var(--cursor-hover);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollable {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#game {
  height: 100vh;
  width: 100vw;
}

.modalClass {
  max-width: 80%;
}

.multi-range {
  box-shadow: none !important;
  border: none !important;
}

.multi-range .thumb * {
  display: inherit !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 0px !important;
  background-color: white !important;
  width: 60px !important;
  box-shadow: none !important;
}

.Toastify__toast {
  border-radius: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 4px solid black;
  background-color: #61738a !important;
  height: 55px !important;
  width: 60px !important;
}

.Toastify__toast img {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
}

.toast {
  width: 76px !important;
  right: 76px !important;
}

.toast-no-border {
  width: 100px !important;
  height: 100px !important;
  border: none !important;
  position: absolute !important;
  right: 10px !important;
  bottom: 10px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.toast-no-border img {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
}

.bubbly {
  display: block;
  text-align: center;
  padding: 0.25em 1em;
  border-radius: 12px;
  font-size: 140%;
  border: solid;
  border-color: black;
  border-width: 4px;
  text-shadow: 2px 2px 2px #00000040;
}

.bubbly:hover {
  background: #e7e7e7;
}

.bubbly:active {
  background: #cfcfcf;
  box-shadow: inset 6px 6px 0px 0px #e7e7e7;
}

.bubbly.green {
  box-shadow: inset -6px -6px 0px 0px #65a013;
  background: #92cc41;
  color: white;
}

.bubbly.green:hover {
  background: #76c442;
}

.bubbly.green:active {
  background: #92cc41;
  box-shadow: inset 6px 6px 0px 0px #65a013;
}

.bubbly.orange {  
  background: #f7d51d;
  box-shadow: inset -6px -6px 0px 0px #c9ae17;
  color: black;
}

.bubbly.orange:hover {
  background: #e7c819;
}

.bubbly.orange:active {
  background: #f7d51d;
  box-shadow: inset 6px 6px 0px 0px #c9ae17;
}

.bubbly.red {
  background: #e76e55;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
  color: white;
}

.bubbly.red:hover {
  background: #c25c48;
}

.bubbly.red:active {
  background: #761c1e;
  box-shadow: inset 6px 6px 0px 0px #8c2022;
}

.bubbly.blue {
  background: #109fff;
  box-shadow: inset -6px -6px 0px 0px #006bb3;
  color: white;
}

.bubbly.blue:hover {
  background: #1195ec;
}

.bubbly.blue:active {
  background: #109fff;
  box-shadow: inset 6px 6px 0px 0px #108de0;
}

.bubbly.disabled {
  background: #d3d3d3;
  box-shadow: inset -6px -6px 0px 0px #adafbc;
  color: #757575;
  opacity: 0.6;
  cursor: not-allowed;
}

.bubbly.pink {  
  background: #ee2097;
  color: white;
  box-shadow: inset -6px -6px 0px 0px #902c74;  
}

.bubbly.pink:active {
  background: #ee2097;
  box-shadow: inset 6px 6px 0px 0px #902c74;  
}

.firebaseui-idp-button {
  border: solid !important;
  padding: 5px 30px !important;
  border-radius: 12px !important;
  border-color: black !important;
  border-width: 4px !important;
  font-family: brandonGrotesque !important;
  max-width: 360px !important;
  cursor: var(--cursor-hover) !important;
}

.firebaseui-idp-text {
  font-size: 150% !important;
}

.firebaseui-container {
  margin-left: 0px !important;
}

.firebaseui-card-content {
  padding: 0px !important;
}

.firebaseui-idp-google {
  box-shadow: inset -6px -6px 0px 0px #adafbc !important;
}

.firebaseui-idp-password {
  box-shadow: inset -6px -6px 0px 0px #a33329 !important;
}

.firebaseui-idp-facebook {
  box-shadow: inset -6px -6px 0px 0px #293e6b !important;
}

.firebaseui-idp-twitter {
  box-shadow: inset -6px -6px 0px 0px #4181b3 !important;
}

.App .nes-container {
  border-radius: 12px;
  background-color: #61738a;
  padding: 5px;
}

.chatbg {
  background: #aeb6c0;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  border: solid;
  border-color: black;
}

.chat {
  display: block;
  padding: 12px 42px;
  border-radius: 8px;
  font-size: 1.25rem;
  border: solid;
  border-color: black;
  background: #61738a;
  color: white;
  transform: translateY(-8px) translateX(-8px);
}

.player-box {
  background: #54596b;
  border-radius: 12px;
  border: solid;
  border-color: black;
  padding: 5px;  
  color: white;
  box-shadow: #2d334b 4px 4px 0px;
}

.my-input {
  border-radius: 12px;
  width: 100%;
  border: 4px solid black;
  min-height: 3em;
  padding-left: 1em;
}

.my-tab {
  cursor: var(--cursor-hover);
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  color: white;
  font-size: 140%;
}

.my-select {
  margin: 10px;
  border-radius: 12px;
  border: 4px solid black;
  height: 7vh;
  font-size: 140%;
  padding: 12px 42px;
}

.nes-progress {
  border-image-slice: none !important;
  border-image-width: none !important;
  border-image-repeat: none !important;
  border-image-source: none !important;
  border-image-outset: none !important;
  border-radius: 12px;
  border: 4px solid black;
  margin: 0px !important;
  background-color: #61738a !important;
  color: "#fff" !important;
  -webkit-appearance: none !important;
}

.nes-progress::-webkit-progress-bar {
  background-color: #61738a !important;
}

.CircularProgressbar-path {
  stroke: #92cc41 !important;
}

.CircularProgressbar-trail {
  stroke: #2d334b !important;
}

.CircularProgressbar-text {
  fill: yellow;
}

.CircularProgressbar-background {
  fill: green;
}



.anonymous {
  min-height: 40px;
  background-color: #18f299;
  box-shadow: inset -6px -6px 0px 0px #0e9b61 !important;
}

.clickable {
  cursor: var(--cursor-hover) !important;
}

.badge {
  font-weight: normal;
}

.react-tabs__tab {
  cursor: var(--cursor-hover);
  background-color: #40404080;
  margin: 0 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  color: white;
  text-shadow: 2px 2px 2px #00000040;
  font-size: 140%;
}

.react-tabs__tab--selected {
  border-radius: 12px 12px 0px 0px !important;
  color: #fff !important;
  background-color: rgb(84, 89, 107) !important;
}

@media(max-width: 640px){
  body {
    font-size: 2vw;
  }

  .App .nes-container,
  .player-box,
  .my-input,
  .bubbly {
    border-width: 2px;
  }

  .bubbly {
    padding: 0.5em 1em;
  }
}