:root {
  --color-bg-primary: #285f41;
  --color-bg-secondary: #467460;
  --color-bg-tertiary: #26373a;
  --color-bg-accent: #97b067;
}

.custom-bg {
  background-image: url("/assets/theme/forest/custombg.jpg");
  background-position-x: center;
}
