:root {
  --color-bg-primary: #2f5986;
  --color-bg-secondary: #183d6a;
  --color-bg-tertiary: #334167;
}

.custom-bg {
  background-image: url("assets/theme/super/custombg.jpg");
  background-position-x: center;
}

.react-tabs__tab {
  backdrop-filter: blur(10px);
}

.preparation-menu,
.preparation-page .chat-container {
  padding: 0;
}

.preparation-menu > *,
.preparation-page .chat-container > *,
.room-menu .controls {
  backdrop-filter: brightness(0.5) blur(3px);
  padding: 0.5em;
  margin: 0;
}
