.user-chat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-image: url("assets/ui/back2.png");
  background-size: cover;
  background-position-x: center;
}

#root .user-chat h1 {
  color: white;
  text-align: center;
}

.user-chat form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: stretch;
  margin-top: 0.25em;
  gap: 0.25em;
}

.user-chat form input {
  flex: 1;
}

.user-chat form button {
  flex: 0;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
}

.chat button {
  padding: 0.25em;
  align-self: start;
}


.chat-message-author span {
  line-height: 1.2em;
}

.chat {
  display: flex;
  gap: 8px;
  margin: 0.25em 0;
  border-radius: 8px;
  font-size: 1.25rem;
  border: solid;
  border-color: black;
  background: rgba(97, 115, 138, 0.815);
  color: white;
  cursor: var(--cursor-hover);
}

.pokemon-portrait {
  align-self: start;
}

.chat-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-user {
  display: flex;
  gap: 8px;
  padding: 6px;
  background-color: #54596b;
  border-bottom: 2px solid black;
  border-radius: 4px;
}

.chat-message {
  font-size: 1rem;
  line-height: 1.2em;
  word-break: break-word;
  padding: 6px;
}

.author-and-time {
  font-size: 1rem;
  width: 100%;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-message-author {
  color: #ffc107;
}

.chat-message-time {
  font-size: 0.75rem;
}

.remove-chat {
  align-self: center;
}

.sameUser {
  background-color: rgba(17, 148, 236, 0.604);
}
