.user-chat {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: url("assets/ui/back1.png");
    background-size: cover;
    background-position-x: right;
}

.user-chat h1 {
    color: white;
}

.user-chat form {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 15px;
    align-items: stretch;
    gap: 4px;
}

.user-chat form input {
    flex: 1;
}

.user-chat form button {
    flex: 0;
}