.news {
  background-image: url(assets/ui/back1.png);
  background-size: cover;
  background-position-x: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

.news .content {
  color: white;
  text-align: left;
  flex: 1;
  overflow-y: auto;
  background-color: #54596b;
  line-height: 1em;
  font-size: 80%;
}

#root .news .content {
  padding: 0.5em;
}

.news .content h1 {
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 2px 2px #00000040;
}

.news .content h2 {
  font-size: 120%;
  border-bottom: 2px solid #80808080;
}

.news .content ul {
  padding-left: 20px;
}

.news .content blockquote {
  text-align: right;
  color: gray;
  margin-bottom: 0.25em;
}

.news .content hr {
  height: 2px;
  background-color: white;
  margin: 1em 0;
}