.basic-modal {
  max-width: 95vw;
  width: fit-content;
}

.basic-modal-header {
  border: var(--border-thick);
  background-color: var(--color-bg-secondary);
  color: white;
}

.basic-modal-body {
  display: flex;
  justify-content: center;
  padding: 0;
  color: white;
}

@media (width <= 640px) {
  .basic-modal {
    width: 95vw;
  }
}
