#wiki-page {
  width: 1880px;
  max-width: 100%;
}

#wiki-page ul {
  padding: 0;
}

#wiki-page li {
  list-style: none;
}

#wiki-page li[role="tab"] {
  text-transform: uppercase;
}

#wiki-page li[role="tab"] > img.pokemon-portrait {
  display: block;
  margin: -6px -12px;
}

#wiki-page .wiki-types li[role="tab"] {
  padding: 4px 6px;
  line-height: 40px;
  min-width: 48px;
  text-align: center;
}

#wiki-page > .my-container {
  color: white;
  background-color: var(--color-bg-secondary);
}

#wiki-page > .my-container > .react-tabs > .react-tabs__tab-panel {
  height: 75vh;
  padding-bottom: 40px;
  overflow-y: auto;
}

#wiki-page .pokemon-name {
  text-transform: capitalize;
}

#wiki-page .pokemon-portrait {
  margin: 2px;
}

#wiki-page .pokemon-portrait > img {
  display: block;
  border-radius: 2px;
}

#wiki-page .wiki-pokemons .pokemon-typeahead {
  float: right;
}

#wiki-page p.description {
  line-height: 1.2em;
}

#wiki-page .wiki-faq h4 {
  color: var(--color-fg-green);
}

#wiki-page .wiki-status,
#wiki-page .wiki-stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 0.5em;
}

#wiki-page .wiki-status li {
  list-style: none;
  display: grid;
  grid-template: auto 1fr / 30% 1fr;
  padding: 0.5em;
  min-height: calc(122px + 1em);
}

#wiki-page .wiki-stat li {
  list-style: none;
  display: grid;
  grid-template: auto 1fr / 80px 1fr;
}

#wiki-page .wiki-status li > img,
#wiki-page .wiki-stat li > img {
  grid-row: 1/3;
  width: 100%;
}

#wiki-page .wiki-status li .status-label {
  white-space: initial;
}

#wiki-page .wiki-stat .my-box,
#wiki-page .wiki-status .my-box {
  background-color: var(--color-bg-primary);
}

#wiki-page .wiki-stat p:first-of-type {
  font-size: 120%;
  margin: 0.25em 0;
}

#wiki-page .wiki-tutorials ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

#wiki-page .wiki-tutorials .my-box {
  background-color: var(--color-bg-primary);
}

#wiki-page .wiki-tutorials iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

#wiki-page .wiki-types .pokemon-portrait {
  display: inline-block;
}

#wiki-pokemons-all section {
  border-top: 4px solid currentColor;
}

#wiki-types-all section {
  border-top: 4px solid #40404080;
}

#wiki-pokemons-all section ul,
#wiki-types-all section ul {
  display: flex;
  flex-wrap: wrap;
}

#wiki-weather > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 0.5em;
}

#wiki-weather .my-box {
  padding: 0.5em;
  background-color: var(--color-bg-primary);
}

#wiki-weather > ul > .my-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#wiki-ability .my-box {
  background-color: var(--color-bg-primary);
  padding: 0.5em 1em;
}

#wiki-ability > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 0.5em;
}

#wiki-ability > ul > .my-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#wiki-dungeon .my-box {
  padding: 0.5em;
  background-color: var(--color-bg-primary);
}

#wiki-dungeon > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 0.5em;
}

#wiki-dungeon > ul > .my-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}

#wiki-dungeon > ul > .my-box > img {
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: 2px 2px 0 #00000060;
  image-rendering: pixelated;
  height: 250px;
  object-fit: cover;
}

#wiki-dungeon .wiki-dungeon-regional-mons {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  display: flex;
  gap: 5px;
  flex-wrap: wrap
}

#wiki-weather .my-box header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#wiki-weather .my-box h2 {
  flex: 1;
  margin: 0;
}

#wiki-weather .my-box header .weather-icon {
  height: 40px;
}

#wiki-weather .my-box p {
  margin: 0;
  white-space: pre-line;
}

#wiki-weather .my-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

#wiki-ability .my-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

#wiki-items {
  display: flex;
  justify-content: space-evenly;
}

#wiki-items ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

#wiki-items .berries {
  max-width: 400px;
}

#wiki-items .artificial,
#wiki-items .weather-rocks,
#wiki-items .shiny,
#wiki-items .special {
  max-width: 460px;
}

#wiki-items img.item {
  width: 50px;
  height: 50px;
  cursor: var(--cursor-hover);
  margin: 8px;
}

#wiki-items img.tree {
  image-rendering: pixelated;
  width: 50px;
  margin: -8px 8px 30px 8px;
}

#wiki-items th,
#wiki-items td:first-child {
  background-color: var(--color-bg-primary);
}

#wiki-items tr:nth-child(odd),
#wiki-items td:nth-child(n + 2) {
  background-color: var(--color-bg-secondary);
}

@media (width <= 960px) {
  #wiki-items {
    display: block;
  }

  #wiki-items img.item {
    width: 24px;
    height: 24px;
    margin: 4px;
  }

  #wiki-page .wiki-types li[role="tab"] {
    padding: 4px;
  }
}
