#wiki-page {
    height: 100vh;
    padding: 1vw;
}

#wiki-page > .nes-container {
    margin-top: 1em;
    color: white;
    background-color: #54596b;
}

#wiki-page > .nes-container > .react-tabs > .react-tabs__tab-panel {
    height: calc(100vh - 8vw - 2em);
    overflow-y: auto;
}

#wiki-page .pokemon-name {
    text-transform: capitalize;
}

#wiki-page .wiki-status {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20em, 1fr) );
    gap: 1em;
    padding: 0;
}

#wiki-page .wiki-status li {
    list-style: none;
    display: grid;
    grid-template: auto 1fr / 150px 1fr;
}

#wiki-page .wiki-status .test-anim-wrapper {
    grid-row: 1/3;
}

#wiki-page .section-label {
    font-size: 120%;
    margin: 0.5em;
}