.wiki-pokemon-detail {
  display: grid;
  grid-template-columns: calc(320px + 1em) 16em 14em 1fr;
  gap: 1em;
}

.wiki-pokemon-detail .game-pokemon-detail-tooltip {
  border-color: #000;
  border-style: solid;
  border-width: 4px;
  border-radius: 12px;
  background-color: #61738a;
  color: #fff;
  padding: 5px;
  align-self: start;
  margin: 1em 0 1em 1em;
}

.wiki-pokemon-detail dt {
  display: inline-block;
  vertical-align: top;
  width: 12ch;
  text-align: right;
  color: #a0a0a0;
}

.wiki-pokemon-detail dd {
  display: inline;
  white-space: pre-line;
}

.wiki-pokemon-detail dt::after {
  content: ":";
  margin-right: 1ch;
}

.wiki-pokemon-detail dd::after {
  content: "";
  display: block;
}

.wiki-pokemon-detail dl:nth-child(3) dt {
  width: 16ch;
  text-align: left;
}

.wiki-pokemon-detail dl:nth-child(3) dt img {
  vertical-align: -0.3em;
}
