#wiki-page {
  height: 100vh;
  padding: 1vw;
}

#wiki-page ul {
  padding: 0;
}

#wiki-page li {
  list-style: none;
}

#wiki-page > .nes-container {
  margin: 1em 0;
  color: white;
  background-color: #54596b;
}

#wiki-page > .nes-container > .react-tabs > .react-tabs__tab-panel {
  height: calc(100vh - 8vw - 4em);
  overflow-y: auto;
}

#wiki-page .pokemon-name {
  text-transform: capitalize;
}

#wiki-page .pokemon-portrait {
  position: relative;
  display: inline-block;
  margin: 2px;
}

#wiki-page .pokemon-portrait > img {
  display: block;
  border-radius: 2px;
}

#wiki-page .pokemon-portrait.additional::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0px;
  height: 12px;
  width: 12px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABISURBVChTjZABCgAgCAO1///ZWqlpRXggQptNZMqIduBa0+6IRN/iMr2ACaNWEX9H7kg49Q0zz+WSAwMQfuBXi3FKixfuRNQBW78Y/CRSBzwAAAAASUVORK5CYII=);
  background-size: cover;
  image-rendering: pixelated;
  filter: invert(1);
}

#wiki-page p.description {
  line-height: 1.2em;
}

#wiki-page .wiki-status,
#wiki-page .wiki-stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  padding: 0;
}

#wiki-page .wiki-status li {
  list-style: none;
  display: grid;
  grid-template: auto 1fr / 150px 1fr;
}

#wiki-page .wiki-stat li {
  list-style: none;
  display: grid;
  grid-template: auto 1fr / 80px 1fr;
}

#wiki-page .wiki-status .test-anim-wrapper,
#wiki-page .wiki-stat li img {
  grid-row: 1/3;
}

#wiki-page .section-label {
  font-size: 120%;
  margin: 0.5em;
}

#wiki-page .wiki-stat p:first-of-type {
  font-size: 120%;
  margin: 0.25em 0;
}

#wiki-page .wiki-tutorials {
  padding: 1em;
}

#wiki-page .wiki-tutorials ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
}

#wiki-weather > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

#wiki-weather .nes-container {
  padding: 0.5em;
  margin: 0.5em;
}

#wiki-ability .nes-container {
  padding: 0.5em;
  margin: 0.5em;
}

#wiki-ability > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
#wiki-weather > ul > .nes-container {
  padding: 0.5em 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#wiki-ability > ul > .nes-container {
  padding: 0.5em 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#wiki-weather .nes-container header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#wiki-weather .nes-container h2 {
  flex: 1;
  margin: 0;
}

#wiki-weather .nes-container header .weather-icon {
  height: 40px;
}

#wiki-weather .nes-container p {
  margin: 0;
  white-space: pre-line;
}

#wiki-weather .nes-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

#wiki-ability .nes-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}
