.wiki-pokemon-detail {
    display: grid;
    grid-template-columns: 16em 14em 1fr;
    gap: 1em;
}

.wiki-pokemon-detail dt {
    display: inline-block;
    vertical-align: top;
    width: 12ch;
    text-align: right;
    color: #a0a0a0;
}

.wiki-pokemon-detail dd {
    display: inline;
}

.wiki-pokemon-detail dt::after {
    content: ":";
    margin-right: 1ch;
}

.wiki-pokemon-detail dd::after {
    content: "";
    display: block;
}

.wiki-pokemon-detail dl:nth-child(2) dt {
    width: 16ch;
    text-align: left;
}

.wiki-pokemon-detail dl:nth-child(2) dt img {
    vertical-align: -0.3em;
}