.tournaments-admin {
  width: 640px;
}

.tournaments-admin ul {
  padding: 0;
}

.tournaments-admin li {
  list-style: none;
}

.tournament-form label {
  display: block;
}

.tournament-item.nes-container {
  background-color: #54596b;
}

.tournament-item .remove-btn {
  float: right;
}
