.notification-modal .modal-body {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 720px;
}

.notification-modal img {
  width: auto;
  height: 320px;
  margin: 2rem;
}

.notification-modal p {
  font-size: 2rem;
  white-space: pre-wrap;
}
