.after-menu {
    max-width: 960px;
    max-height: calc(100vh - 8vw);
    margin: auto;
    color: white;
    padding: 16px;
    overflow: auto;
}

.after-menu .player-rank {
    font-size: 4rem;
    color: white;
    text-shadow: 4px 4px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.after-menu .player-rank img {
    height: 48px;
}

.after-menu table td {
    padding: 8px;
}

.after-menu table td:first-child {
    width: 80px;
}

.after-menu table .player-rank {
    font-size: 2rem;
}