.special-game-announcement {
    background: #40404080;
    padding: 0.4em 0.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    margin: 0;
}

.special-game-announcement img {
    width: 50px;
    height: 50px;
}

.special-game-announcement span:last-child {
    flex: 0 0 6ch;
}