.expeditions.my-container {
  padding: 0;
  position: relative;
}

.expeditions header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  text-align: center;
}

.expeditions header p {
  font-size: 1.2em;
  font-weight: bold;
}

.expeditions .button {
  padding: 8px;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  cursor: var(--cursor-hover);
  border: 2px solid black;
}

.expeditions .button:hover {
  background-color: var(--color-bg-accent);
  border-color: white;
}

.expeditions .button img {
  display: block;
  width: 32px;
  height: 32px;
}

.expeditions ul {
  padding: 0 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
}

.expeditions .expedition {
  gap: 0.5em;
  padding: 0;
  overflow: clip;
  position: relative;
}

.expedition-rewards {
  font-weight: bold;
  margin-top: 0.25em;
  font-size: 0.8em;
  color: var(--color-fg-gold);
}

.expeditions-leaderboard-container,
.expeditions-help-container {
  margin: 1em;
  background-color: var(--color-bg-primary);
  max-height: calc(100vh - 320px);
  overflow-y: auto;
  position: absolute;
  top: 135px;
  left: 1em;
  right: 1em;
  z-index: 20;
}

.expedition-illustration {
  width: 100%;
  aspect-ratio: 500 / 281;
  object-fit: cover;
}

.expedition-rank {
  position: absolute;
  top: 8px;
  right: 8px;
}

.expedition-objective {
  padding: 0.5em;
  border-top: var(--border-extra-thin);
}
