.room-menu {
  display: flex;
  flex-direction: column;
}

.room-menu .subtitle {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 1em;
}

.room-menu .tab-tournament.react-tabs__tab-panel--selected {
  padding: 0.5em 0;
}

.room-menu .react-tabs__tab-panel--selected ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

.room-menu .create-room-button {
  width: 100%;
  margin: 0.5em auto 0 auto;
}

.room-menu .rank.icon {
  width: 50px;
}

.special-game-announcement {
  background: #40404080;
  padding: 0.4em 0.5em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin: 0;
}

.special-game-announcement span:last-child {
  flex: 0 0 6ch;
}

.room-menu .tab-available-rooms > ul {
  max-height: calc(100% - 10em);
  overflow: auto;
}
