.tournament-item .actions {
  display: flex;
  justify-content: end;
}

.tournament-item .remove-btn {
  float: right;
}

.tournament-item .player-box {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: var(--border-thin);
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.tournament-item .player-box.eliminated {
  background-color: var(--color-bg-secondary);
  color: #ccc;
}

.tournament-item .player-box.eliminated img {
  filter: grayscale(1);
}

.tournament-item .player-box.myself {
  background-color: var(--color-bg-accent);
}

.tournament-item .player-box span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament-item .player-ranks {
  display: block;
}

.tournament-item p {
  margin: 0.25em 0;
  flex: 1;
}

.tournament-item .player-rank {
  line-height: 40px;
  min-width: 2ch;
  text-align: center;
}
