.tournament-item.nes-container {
  background: #61738a;
  border-radius: 12px;
  border: solid;
  border-color: black;
  padding: 0.5em;
  color: white;
  box-shadow: #2d334b 4px 4px 0px;
  margin-bottom: 0.5em;
}

.tournament-item .actions {
  display: flex;
  justify-content: end;
}

.tournament-item .remove-btn {
  float: right;
}

.tournament-item .participants ul {
  max-height: 320px;
  overflow-y: auto;
}
