#debug-scene {
  position: relative;
}

#debug-scene #status-message {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: black;
}

#debug-scene-controls {
  position: fixed;
  top: 1em;
  right: 1em;
  background-color: black;
  color: white;
}
