.damage-physical {
  color: #ff6e55;
}

.damage-special {
  color: #7fc9ff;
}

.damage-true {
  color: #ffd800;
}

.description-icon > img {
  display: inline-block;
  vertical-align: -2px;
  height: 16px;
  margin-right: 4px;
}

.ability-description {
  white-space: pre-wrap;
}

.ability-value {
  color: rgb(171, 171, 171);
}

.ability-value .active {
  color: rgb(255, 255, 255);
}

.scales-ap .ability-value {
  color: #440093;
}

.scales-ap .ability-value .active {
  color: #D172FF;
}

.stat-label {
  color: rgb(171, 171, 171);
}

.status-label {
  color: rgb(210, 190, 150);
}
