.damage-physical {
  color: #ff6e55;
}

.damage-special {
  color: #7fc9ff;
}

.damage-true {
  color: #ffd800;
}

.description-icon {
  white-space: nowrap;
}

.description-icon > img {
  display: inline-block;
  vertical-align: -0.5em;
  width: 1.5em;
  height: 1.5em;
  margin-right: 3px;
}

.ability-description {
  white-space: pre-wrap;
}

.ability-value {
  color: rgb(171, 171, 171);
}

.ability-value .active {
  color: rgb(255, 255, 255);
}

.scales-ap .ability-value {
  color: #440093;
}

.scales-ap .ability-value .active {
  color: #d172ff;
}

.stat-label {
  color: rgb(171, 171, 171);
  white-space: normal;
}

.status-label {
  color: rgb(210, 190, 150);
}

.item-label {
  color: rgb(190, 190, 190);
}
