#meta-report-compo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#meta-report-compo article {
  overflow-y: auto;
  display: flex;
  gap: 1em;
}

#meta-report-compo-list {
  overflow-y: scroll;
  flex: 1;
  min-width: 0;
}

#meta-report-compo svg {
  flex-shrink: 0;
  width: 500px;
  height: 700px;
}
