#meta-report {
  height: 90vh;
  color: white;
  width: 1920px;
  max-width: 95vw;
}

#meta-report h2 {
  margin: 0;
}

#meta-report .react-tabs__tab-panel {
  padding: 0 0.5em;
}

#meta-report header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25em;
}

#meta-report .rank {
  min-width: 2ch;
  text-align: center;
  font-size: 150%;
}

#meta-report label {
  color: #ccc;
}

#meta-report .team-comp,
#meta-report .item-stat,
#meta-report .pokemon-family-stat {
  background-color: rgb(84, 89, 107);
  margin-bottom: 0.5em;
  color: white;
  display: grid;
  grid-template-columns: 2ch 360px 8ch 6ch 8ch 8ch 6ch 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  overflow-x: auto;
}

#meta-report .team-comp {
  grid-template-columns: 2ch 360px 8ch 6ch 8ch 8ch 6ch 1fr;
}

#meta-report .team-comp label {
  display: block;
}

#meta-report .item-stat {
  grid-template-columns: 2ch 60px 16ch 8ch 10ch 1fr;
}

#meta-report .pokemon-family-stat {
  grid-template-columns: 2ch 16ch 10ch 14ch 1fr;
}

#meta-report .pokemon-family-stat ul {
  padding: 0;
  margin: 0;
}

#meta-report .pokemon-family-stat li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
