#pokemon-history-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.pokemon-history-tooltip {
  background-color: rgb(84, 89, 107);
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 300px;
  overflow-y: auto;
}

.pokemon-history-tooltip-date {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 11px;
  color: #ccc;
}

.pokemon-history-tooltip-row {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 11px;
}

.pokemon-history-tooltip-more {
  font-size: 10px;
  color: #999;
  text-align: center;
}
