#pokemon-distribution {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.pokemon-distribution-tooltip {
  background-color: rgb(84, 89, 107);
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.pokemon-distribution-tooltip-header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.pokemon-distribution-tooltip-header img {
  width: 32px;
  height: 32px;
}

.pokemon-distribution-tooltip-row {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.pokemon-distribution-tooltip-label {
  color: #ccc;
  font-weight: 500;
}
