#pokemon-report {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#pokemon-report .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#pokemon-report article {
  overflow-y: auto;
}
