.current-users-menu {
  overflow-y: scroll;
  background-image: url("assets/ui/back1.png");
  background-size: cover;
  background-position-x: 77%;
  color: white;
}

.current-users-menu ul {
  list-style: none;
  padding: 0;
}

.current-users-menu li {
  margin-bottom: 10px;
}
