<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/ui/favicon.ico" />
  <title>Pokemon: Auto Chess</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3SEDFZL4L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J3SEDFZL4L');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Press Start 2P']
      }
    });
  </script>
  <link rel="icon" href="assets/ui/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="index.js" defer></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>