<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="google-site-verification" content="jLnczh_LGhQy48U6-jBEB8zwBV_Lp5vw6cRj9fv7Pi4" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/ui/favicon.ico" />
    <title>Pokemon: Auto Chess</title>

    <link rel="icon" href="assets/ui/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script src="index.js" defer></script>
  </head>

  <body>
    <p style="display: none">
      Fan/Non profit game, All rights to The Pokemon Company®. Pick your
      favorite pokemon, build powerfull synergies, unlock items, and defeat your
      enemies !
    </p>
    <div id="root"></div>
  </body>

</html>