#bot-manager-panel {
  color: white;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1em;
  gap: 1em;
}

#bots-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: auto;
  max-width: 100%;
  padding: 0;
}

#bot-manager-panel .controls {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

#bots-list table {
  width: 100%;
}

#bots-list table thead {
  border-bottom: 4px solid white;
}

#bots-list td,
#bots-list th {
  padding: 0 0.5em;
  text-align: center;
}

#bots-list td:first-child {
  text-align: left;
  padding: 0;
}

#bot-manager-panel tr:nth-child(even) {
  background-color: var(--color-bg-secondary);
}

#bots-list button:not(:first-of-type) {
  margin-left: 0.5em;
}
