#bot-manager-panel {
  color: white;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1em;
  gap: 1em;
}

#bots-list {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  padding: 0;
  flex: 1;
  min-height: 0;
}

#bot-manager-panel .controls {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.bots-table-header,
.bots-table-row {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 60px 1fr 80px auto;
  align-items: center;
  gap: 0 0.5em;
  padding: 0 0.5em;
  text-align: center;
}

.bots-table-header {
  border-bottom: 4px solid white;
  font-weight: bold;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.bots-table-row > span:first-child {
  text-align: left;
  padding: 0;
}

.bots-table-row.even {
  background-color: var(--color-bg-secondary);
}

#bots-list button:not(:first-of-type) {
  margin-left: 0.5em;
}
