.game-shop.nes-container {
  position: absolute;
  left: 8vw;
  right: 8vw;
  bottom: 5px;
  background: #54596b;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.game-shop-actions {
  width: 12vw;
  height: 6vw;
  display: grid;
  grid-template: 1fr 1fr / 3vw 1fr;
  padding: 5px;
  gap: 5px;
  background: #61738a;
  align-items: center;
}

.game-rarity-percentage {
  grid-column: 1/3;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding: 0 !important;
  border-radius: 8px;
}

.game-rarity-percentage > div {
  display: grid;
  place-content: center;
  font-size: 0.8vw;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.game-rarity-percentage > div:first-of-type {
  border-radius: 8px 0 0 8px;
}

.game-rarity-percentage > div:last-of-type {
  border-radius: 0 8px 8px 0;
}

.game-shop-actions .refresh-button {
  font-size: 1vw;
  white-space: nowrap;
  padding: 0.25em 0.5em;
  height: 3vw;
}

.game-shop-actions .refresh-button > img:first-child {
  vertical-align: middle;
  width: 1.25vw;
  height: 1.25vw;
}

.game-shop-actions .lock-icon {
  padding: 0;
  display: grid;
  place-content: center;
  height: 3vw;
}

.game-shop-actions .lock-icon > img:only-child {
  width: 2vw;
  height: 2vw;
  margin: 0;
}

.game-additional-pokemons {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  padding: 0 !important;
  color: white;
  background-color: rgb(97, 115, 138);
  width: 8vw;
  height: 6vw;
  overflow: visible;
}

.game-additional-pokemons > img {
  image-rendering: pixelated;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  border: 1px solid #333;
}

.game-pokemons-store {
  display: flex;
  flex: 1;
  list-style: none;
  gap: 5px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.game-experience {
  width: 12vw;
  height: 6vw;
  display: grid;
  grid-template: 1fr 1fr / 3vw 1fr;
  padding: 5px;
  gap: 5px;
  background: #61738a;
  align-items: center;
  text-align: center;
}

.game-experience > span {
  color: white;
}

.buy-xp-button.bubbly {
  font-size: 1vw;
  white-space: nowrap;
  padding: 0.25em 0.5em;
}

.game-experience .progress-bar {
  grid-column: 1/3;
  position: relative;
  background: transparent;
  height: 100%;
}

.game-experience .progress-bar > span {
  position: absolute;
  font-size: 1.2vw;
  margin: 0px;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
}

.game-experience .progress-bar > .nes-progress {
  overflow: hidden;
  height: 100%;
}

#game-money-info {
  position: absolute;
  bottom: 100%;
  left: 7vw;
  width: 5vw;
  background-image: url("assets/ui/money-bg.png");
  background-size: 70px 40px;
}

#game-life-info {
  position: absolute;
  bottom: 100%;
  left: 1vw;
  width: 5vw;
  background-image: url("assets/ui/heart-bg.png");
  background-size: 48px 38px;
}

#game-team-info {
  position: absolute;
  bottom: 100%;
  right: 1vw;
  width: 5vw;
  background-image: url("assets/ui/pokeball-bg.png");
  background-size: 70px 40px;
}

#toast-life .toast-player-damage {
  color: red;
  font-weight: bold;
}

#toast-money .toast-player-income {
  color: white;
  font-weight: bold;
}

#toast-life img,
#toast-money img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: inline-block;
}

.game-shop .information {
  padding: 0.001px !important;
  display: flex;
  justify-content: end;
  height: 2em;
  color: white;
  border-radius: 12px 12px 0 0;
}

.game-shop .information > div {
  background: #61738a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 7px 0 0;
  height: 100%;
  width: 3.2vw;
  padding: 0 0.5em;
}

.game-shop .information .icon {
  width: 1vw;
  height: 1vw;
}
