.game-pokemon-portrait {
  image-rendering: pixelated;
  width: 7.5vw;
  height: 6vw;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: var(--cursor-hover);
  position: relative;
}

.game-pokemon-portrait.empty {
  border-color: transparent;
}

.game-pokemon-portrait.shimmer {
  box-shadow: 0 0 4px #ffffff80;
}

.game-pokemon-portrait-cost {
  position: absolute;
  left: 5px;
  bottom: 0;
  line-height: 1.2vw;
  display: flex;
  align-items: center;
}

.game-pokemon-portrait-cost > span {
  font-size: 1.2vw;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin: 0 2px 0 0;
}

.game-pokemon-portrait-types {
  list-style-type: none;
  padding: 0;
  display: flex;
  position: absolute;
  justify-content: start;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100%;
}

.game-pokemon-portrait-evolution {
  position: absolute;
  top: 4px;
  left: 4px;
}

.game-pokemon-portrait-evolution-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  image-rendering: pixelated;
  margin-left: 4px;
  vertical-align: middle;
}

.game-pokemon-portrait-evolution-portrait {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  image-rendering: pixelated;
}
