.game-tooltip-bar-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  filter: drop-shadow(0 0 2px black);
  color: #fff;
}

.game-tooltip-bar-outer {
  position: relative;
  height: 18px;
  background: var(--color-bg-secondary);
  overflow: hidden;
  border: var(--border-extra-thin);
  display: flex;
}

.game-tooltip-bar-inner {
  height: 100%;
  transition: width 0.3s;
  flex: 0 0 auto;
}

.game-tooltip-bar-graduation {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #0004;
}
