.pool {
  width: 50%;
  position: absolute !important;
  z-index: 1;
  left: 20%;
  top: 11%;
}

.pool-item-value {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin: 0 2px 0 0;
  font-size: 0.7vw;
}

.pool-item {
  height: 40px;
  width: 40px;
  margin: 2px;
}

.pool-button {
  margin: 10px;
  display: flex;
  justify-content: center;
}
