#game-stage-info {
  position: absolute;
  top: 0.5%;
  left: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
  height: 5%;
  color: white;
  border-radius: 12px 12px 0 0;
  padding: 1px 5px 3px 5px;
}

#game-stage-infor .stage-information {
  width: 4vw;
  text-align: center;
}

#game-stage-info .stage-information p {
  margin: 0 0.25em;
}

#game-stage-info .players-information {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.5em;
}

#game-stage-info .players-information:not(.has-opponent){
  flex: 0;
}

#game-stage-info .player-information {
  padding: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}

#game-stage-info .player-information img {
  height: 40px;
}

#game-stage-info .player-information .player-title {
  white-space: nowrap;
  margin: 0;
}

#game-stage-info .player-information .player-name {
  margin-left: 0.25em;
  color: white;
  text-align: center;
}

.game-stage-path {
  flex: 1;
  display: flex;
  justify-content: center;
}

.game-stage-path .stage-path {
  position: relative;
  background-color: #54596b;
  border-radius: 8px;
  border: 4px solid transparent;
}

.game-stage-path .stage-path.current {
  background-color: #109fff;
}

.game-stage-path .stage-path.current::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.game-stage-path .stage-path.victory {
  border-color: #4aa52e;
}

.game-stage-path .stage-path.defeat {
  border-color: #8c2022;
}

.game-stage-path .stage-path img {
  display: block;
  height: 40px;
  width: 40px;
}