.game-loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
}

.game-loading-screen li {
  list-style: none;
}

.game-loading-screen .loading-bar {
  position: absolute;
  top: 20vw;
  left: 20vw;
  right: 20vw;
  color: white;
}

.game-loading-screen .loading-bar p {
  text-align: center;
  font-family: monospace;
  font-size: 28pt;
}

.game-loading-screen .error {
  color: red;
}

.game-loading-screen button {
  margin: auto;
}

.game-loading-screen footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  color: white;
  font-size: 1rem;
  text-align: center;
}
