.timer-bar {
    position:absolute;
    top: calc(8.5% - 6px);
    left: 30%;
    width: 40%;
    height: 12px;
    background: black;
    border-radius: 0 0 8px 8px;
}

.timer-bar-inner {
    position:absolute;
    top: 0;
    left: 0;
    height: 12px;
    background: #f7d51d;
    border-radius: 0 0 12px 12px;
    border: 4px solid black;
    transition: all linear 1s;
}